

.modal {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: white;
    padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
  z-index: 1001;
  width: 320px;
  max-width: 90%;
  text-align: center;
}


.modal h3 {
  margin-bottom: 15px;
  color: #23b8cc;
}



.modal p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}

.buttons {
  display: flex;
  justify-content: center;
  gap:20px;
}

.cancel-btn {
  flex: 1;
  padding: 8px 12px;
  background: #ccc;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn:hover {
  background: #aaa;
}


.confirm-btn {
  flex: 1;
  padding: 8px 12px;
  background: #23b8cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.confirm-btn:hover {
  background: #c0392b;
}
