<div class="modal-overlay">


  <div class="container">

    <h2 class="modal-title">
      {{ employee ? 'Update Employee' : 'Add New Employee' }}
    </h2>

    <form (ngSubmit)="saveEmployee()" class="modal-form">

      <input [(ngModel)]="formEmployee.firstName" name="firstName" placeholder="First Name" required>

      <input [(ngModel)]="formEmployee.lastName" name="lastName" placeholder="Last Name" required>

      <input [(ngModel)]="formEmployee.email" name="email" placeholder="Email">


      <input [(ngModel)]="formEmployee.contactNo" name="contactNo" placeholder="Contact No">

      <input [(ngModel)]="formEmployee.position" name="position" placeholder="Position">

      <input [(ngModel)]="formEmployee.department" name="department" placeholder="Department">

      <input [(ngModel)]="formEmployee.address" name="address" placeholder="Address">

      <div class="modal-actions">
        <button type="submit" class="btn-primary">
          {{ employee ? 'Update' :'Add'}}
        </button>

        <button type="button" class="btn-cancel" (click)="close(false)">
          Cancel
        </button>

        
      </div>


    </form>
  </div>

</div>